html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto;
  width: 900px;
  background: #cfcfcf;
  /* line-height: 0.8; */
}

.header {
  background: rgb(42, 38, 73);
  background: linear-gradient(
    63deg,
    rgba(42, 38, 73, 1) 0%,
    rgba(73, 63, 145, 1) 100%
  );
  display: flex;
  color: white;
}

.footer {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about {
  margin: 10px 20px;
}

.content {
  background: white;
  padding: 0 20px;
  overflow: auto;
  display: block;
  text-align: center;
}
.about__contacts,
.about__skills,
.about__experience,
.about__education,
.about__language {
  color: #9365ff;
  background: #2a2649;
  border-radius: 10px 10px 30px 30px;
  padding: 2px 0;
  padding-top: 4px;
  text-transform: uppercase;
}

.about__info {
  color: #9365ff;
  border-radius: 10px 10px 30px 30px;
  text-transform: uppercase;
}

hr {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #763cff;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: #ff0062;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > li {
  flex-basis: 30%;
  line-height: 24px;
}

.table__contacts,
.table__skills {
  display: flex;
}

.skills {
  display: block;
}

.header__avatar {
  margin: 10px;
}

.header__picture {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 0 5px white;
  border-radius: 50%;
  margin: 10px;
}

.rs_logo {
  width: 50%;
}
